<section class="container-fluid py-3">
  <div class="row">

    <div class="col-md-4 col-lg-4 col-12" *ngFor="let pro of procutlist; let i =index;">
      <div class="bgimg card shadow-lg p-3 mb-5 bg-body rounded" >
        <a routerLink="/cart" style="cursor: pointer;">
        <img class="card-img-top img-fluid img-reponsive rounded mx-auto d-block" src="{{pro?.image}}" alt="Card image cap">
      </a>
        <div class="card-body">
          <h4 class="card-title text-priamry">{{pro?.title}}</h4>
        <h4 class="card-text  font-weight-bold"> Rating &nbsp;{{pro?.rating.rate}} &nbsp;<i class="fa-solid fa-star text-warning"></i>
          &nbsp;<i class="fa-solid fa-star text-warning"></i>
          &nbsp;<i class="fa-solid fa-star text-warning"></i>&nbsp;<i class="fa-solid fa-star-half-stroke text-warning"></i>
          &nbsp;<i class="fa-solid fa-star-half-stroke text-warning"></i>
        </h4>
         <span class="badge badge-danger">{{pro?.category}}</span>
        <p class="card-text text-uppercase "> {{pro?.category}}</p>
          <p class="card-text font-weight-bold">  <i class="fa-solid fa-indian-rupee-sign text-danger">&nbsp;&nbsp;{{pro?.price}}</i></p>
          <p class="card-text"> {{pro?.description | slice:0:80}}</p>

        <button routerLink="/cart" type="button" class="btn btn-primary btn-md">
          <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Cart</button>

        <button routerLink="/cart" type="button" class="btn btn-success btn-md mx-3 text-white">
          <i class="fas fa-eye"></i>&nbsp;&nbsp;View</button>
        </div>

      </div>
      <br/>
      <br/>
  </div>
  </div>
</section>
