<p>property-details works!</p>

<section class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mx-auto">
            side images
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">1 images</div>
                <div class="col-lg-12 col-md-12 col-12">2 images</div>
                <div class="col-lg-12 col-md-12 col-12">3 images</div>
                <div class="col-lg-12 col-md-12 col-12">4 images</div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12 mx-auto">
            full images
        </div>

    </div>
</section>