<section class="container-fluid bg-light shadow bg-body rounded bgimg">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mx-auto">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <figure>
                        <img src="https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=20&m=1026205392&s=612x612&w=0&h=lYFMV5cOuQQpddmwsE5QLBCyhgWQ1OI46i_dalro9OE="
                            class="img-fluid rounded img-responsive w-80">
                    </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <figure>
                        <img src="https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=20&m=1026205392&s=612x612&w=0&h=lYFMV5cOuQQpddmwsE5QLBCyhgWQ1OI46i_dalro9OE="
                            class="img-fluid rounded img-responsive w-80">
                    </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <figure>
                        <img src="https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=20&m=1026205392&s=612x612&w=0&h=lYFMV5cOuQQpddmwsE5QLBCyhgWQ1OI46i_dalro9OE="
                            class="img-fluid rounded img-responsive w-80">
                    </figure>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                    <figure>
                        <img src="https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=20&m=1026205392&s=612x612&w=0&h=lYFMV5cOuQQpddmwsE5QLBCyhgWQ1OI46i_dalro9OE="
                            class="img-fluid rounded img-responsive w-80">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12 mx-auto bgimg2">
            <figure>
                <img src="https://media.istockphoto.com/photos/beautiful-luxury-home-exterior-at-twilight-picture-id1026205392?k=20&m=1026205392&s=612x612&w=0&h=lYFMV5cOuQQpddmwsE5QLBCyhgWQ1OI46i_dalro9OE="
                    class="img-fluid rounded img-responsive w-80">
            </figure>
        </div>
    </div>

    <br/>
    
    <div class="row">
        <div class="col-lg-10 col-md-10 col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button shadow-sm bg-body rounded " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Address
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row text-center justify-contenr-center filetxt iconscolor">
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto">
                                <p>Address : 88 Greenwich St #327</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 btnoffer">
                            <button type="button" class="btn-mb btn-sm btn-lg">Open in Gooogle Maps</button>               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="col-lg-2 col-md-2 col-12 btnoffer">
        <h3>Have a Questions ?</h3>
        <img class="img-fluid img-responsive rounded"
         src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png">
        <button type="button" class="btn-mb btn-sm btn-lg">Message</button>
   </div>

</div>


    <div class="row">
        <div class="col-lg-10 col-md-10 col-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button shadow-sm bg-body rounded " type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Overview
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row text-center justify-contenr-center filetxt iconscolor">
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-bed" ></i>
                                <p>2 Bedrooms</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-bath"></i>
                                <p>2 Bathrooms</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-car" ></i>
                                <p>1 Garage</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fa fa-table"></i>
                                <p>190 ft2</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="col-lg-2 col-md-2 col-12 btnoffer">
        <button type="button" class="btn-mb btn-sm btn-lg">Make Offer</button>

   </div>

</div>


    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button shadow-sm bg-body rounded" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Details
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <p>Tenancy length: <span>12 Months</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <p>Utilities included: <span>No</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <p>Tenancy Deposit: <span>900</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <p>Utilities included: <span>No</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <p>Tenancy Deposit: <span>900</span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button shadow-sm bg-body rounded" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ammenities
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row iconscolor">
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-wifi fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-walking"></i>
                                <p>Gym</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-wifi fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 mx-auto">
                                <i class="fas fa-facebook fa-2x"></i>
                                <p>Garage Attached</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button shadow-sm bg-body rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Description
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                    plugin adds the appropriate classes that we use to  though the transition does limit overflow.</p>
                    <p>  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                        plugin adds the appropriate classes that we use to  though the transition does limit overflow.</p>
                        <p>  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                            plugin adds the appropriate classes that we use to  though the transition does limit overflow.</p>
                                
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row ">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header shadow-sm bg-body rounded" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Documents
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row text-center justify-contenr-center filetxt">
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-file-pdf" style="font-size:48px;color:red"></i>
                                <p>Energy Performace Certificate</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-file-word" style="font-size:48px;color:blue"></i>
                                <p>Gas Safety Certificate</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fas fa-file-pdf" style="font-size:48px;color:red"></i>
                                <p>Energy Safety Certificate</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-10 mx-auto">
                                <i class="fa fa-file-image" style="font-size:48px;color:green"></i>
                                <p>Leasehold Information Form (TA7)</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

