<p>task works!</p>



<form [formGroup]="myform" (ngSubmit)="onSubmit()" class="py-3">

    <div class="mb-3">
      <label class="form-label">First Number</label>
      <input type="text" class="form-control" formControlName="t1"  placeholder="enter first Number">
    </div>

    <div class="mb-3">
        <label class="form-label">Second</label>
        <input type="text" class="form-control" formControlName="t2"  placeholder="enter second Number">
      </div>

      <div class="mb-3">
        <label class="form-label">Third</label>
        <input type="text" class="form-control" formControlName="t3"  placeholder="enter Third Number">
      </div>

      <div class="mb-3">
        <label class="form-label">Fourth</label>
        <input type="text" class="form-control" formControlName="t4"  placeholder="enter Fourth Number">
      </div>

      <div class="mb-3">
        <label class="form-label">Fifth</label>
        <input type="text" class="form-control" formControlName="t5"  placeholder="enter Fifth Number">
      </div>

      <button type="submit" class="btn btn-danger">Sumbit</button>

</form>