
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" closed>
  <app-new-sidbar></app-new-sidbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button (click)="sidenav.toggle()" mat-icon-button>
        <i class="material-icons">menu</i>
      </button>
      <span class="user-text">Admin Dashbords</span>

      <span class="example-fill-remaining-space"></span>

      <span class="user-text">Welcome :Santosh Pal</span>
      <button class="btn btn-md btn-danger mx-2"> Logout</button>
    </mat-toolbar>

    <div class="main-cont">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

