<mat-sidenav-container fullscreen>

  <mat-sidenav mode="side" #sidenav closed position="start">
    <mat-nav-list>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/home" routerLinkActive="activebutton"> Home</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/about" routerLinkActive="activebutton">About</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/gallery"
        routerLinkActive="activebutton">Gallery</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/contact"
        routerLinkActive="activebutton">Contact</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/dynamic" routerLinkActive="activebutton">Dynamic
        Compo</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/signup"
        routerLinkActive="activebutton">Signup</a>
      <!-- <a class="text-white font-weight-bold" mat-list-item routerLink="/map" routerLinkActive="activebutton">Map</a> -->
      <!-- <a class="text-white font-weight-bold" mat-list-item routerLink="/user/uplist"
        routerLinkActive="activebutton">User_p</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/admin/list"
        routerLinkActive="activebutton">Admin List</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/user/uplogin"
        routerLinkActive="activebutton">User Login</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/admin/login"
        routerLinkActive="activebutton">Admin Login</a> -->
      <a class="text-white font-weight-bold" mat-list-item routerLink="/crud"
        routerLinkActive="activebutton">ApiCrud</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/grid"
        routerLinkActive="activebutton">Grid-System</a>
      <a class="text-white font-weight-bold" mat-list-item routerLink="/cusobs" routerLinkActive="activebutton">Custom
        Observer</a>

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="ngb">
      <button class="ml-2" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <b class="text-dark font-weight-bold ml-2">SPTECH PRO</b>
      <span class="toolbar-spacer"></span>
      <b class="text-dark font-weight-bold"> WELcome </b>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
