<mat-toolbar color="primary">
  <mat-icon>home</mat-icon>

  <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a> |
  <a class="button" routerLink="/about" routerLinkActive="activebutton">About</a>|
  <a class="button" routerLink="/gallery" routerLinkActive="activebutton">Gallery</a>|

  <a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a>|
  <a class="button" routerLink="/signup" routerLinkActive="activebutton">Signup</a>|
  <a class="button" routerLink="/map" routerLinkActive="activebutton">Map</a>|
  <a class="button" routerLink="/user/uplist" routerLinkActive="activebutton">User_p</a>|

  <a class="button" routerLink="/admin/list" routerLinkActive="activebutton">Admin List</a>|
  <a mat-raised-button color="accent" routerLink="/user/uplogin" routerLinkActive="activebutton">User Login</a>|
  <a mat-raised-button color="accent" routerLink="/admin/login" routerLinkActive="activebutton">Admin Login</a>|

  <a mat-raised-button color="accent" routerLink="/crud" routerLinkActive="activebutton">ApiCrud</a>
  <a mat-raised-button color="accent" routerLink="/crud" routerLinkActive="activebutton">ApiCrud</a>

  <!-- <a class="button" (click)="goto('signup')" routerLinkActive="activebutton">Signup</a> -->

</mat-toolbar>





