@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

/* You can add global styles to this file, and also import other style files */

// .button{
//   width: 90px;height: 100px; background-color: red;
// }

html, body { height: 100%; }

body
{ margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color:hotpink;
}


ul.techlist{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.techlist li{
background-color: #ffff;
border: 1px solid #dddd;
border-radius: 5px;
padding: 8px 13px;
margin-bottom: 10px;
}


ul.techlist .error{
  color: red;
  background-color: rgb(218, 210, 209);
  border-color: red;
}


ul.techlist .complete{
  color: green;
  background-color: rgb(146, 158, 148);
  border-color: green;
}

