<mat-sidenav-container fullscreen>

  <mat-sidenav mode="side" #sidenav opened position="start">
    <ul>
      <li><a class="button" routerLink="/home" routerLinkActive="activebutton"> Home</a> </li>
      <li><a class="button" routerLink="/about" routerLinkActive="activebutton">About</a> </li>
      <li><a class="button" routerLink="/gallery" routerLinkActive="activebutton">Gallery</a> </li>
      <li> <a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a> </li>
      <li> <a class="button" routerLink="/dynamic" routerLinkActive="activebutton">Dynamic Compo</a> </li>

      <li><a class="button" routerLink="/signup" routerLinkActive="activebutton">Signup</a> </li>
      <li><a class="button" routerLink="/map" routerLinkActive="activebutton">Map</a> </li>
      <li><a class="button" routerLink="/user/uplist" routerLinkActive="activebutton">User_p</a> </li>
      <li><a class="button" routerLink="/admin/list" routerLinkActive="activebutton">Admin List</a> </li>
      <li><a routerLink="/user/uplogin" routerLinkActive="activebutton">User Login</a> </li>
      <li><a routerLink="/admin/login" routerLinkActive="activebutton">Admin Login</a></li>
      <li><a routerLink="/crud" routerLinkActive="activebutton">ApiCrud</a></li>
      <li><a routerLink="/grid" routerLinkActive="activebutton">Grid-System</a></li>
      <li><a routerLink="/cusobs" routerLinkActive="activebutton">Custom Observer</a></li>


    </ul>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar class="ngb">
      <button class="ml-2" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    <b class="text-white font-weight-bold ml-2"> Angular Pro</b>
      <span class="toolbar-spacer"></span>
     <b class="text-white font-weight-bold"> My Profile</b>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
